In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from clean_up_funcs import *
remove_errors()

In [79]:
apple_data = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/csv/reformated_data.csv", keep_default_na=False).rename(columns={"County" : "County Dirty", "Fair" : "Fair Dirty"})
apple_data

,County Dirty,Fair Dirty,Year,IsApple,Given_ID,Given_ID_Clean,Alt_ID,Alt_ID_Clean,Presumed_ID,Presumed_ID_Clean,Uncertain
0,Knox,Knox Co.,1867,True,Pearmain,pearmain,,,,,False
1,Knox,Knox Co.,1867,True,Porter,porter,,,Porter,porter,False
2,Knox,Knox Co.,1869,False,(Pear) Flemish Beauty,flemish beauty,,,,,False
3,Knox,Knox Co.,1869,True,Baldwin,baldwin,,,Baldwin,baldwin,False
4,Knox,Knox Co.,1869,True,Fall Pippin,fall pippin,,,,,False
...,...,...,...,...,...,...,...,...,...,...,...
25620,Lincoln,Nobleboro,1921,True,Sweet Russet,sweet russet,,,,,False
25621,Lincoln,Nobleboro,1921,True,Tolman sweet,tolman sweet,,,,,False
25622,Lincoln,Nobleboro,1921,True,Wealthy,wealthy,,,,,False
25623,Lincoln,Nobleboro,1921,True,Wolf River,wolf river,,,,,False
25624,Lincoln,Nobleboro,1921,True,York Imperial,york imperial,,,,,False

In [81]:
# cleanup
apple_data["County"] = apple_data["County Dirty"].apply(cleanup_str)
apple_data["Fair"] = apple_data["Fair Dirty"].apply(cleanup_str)
apple_data

,County Dirty,Fair Dirty,Year,IsApple,Given_ID,Given_ID_Clean,Alt_ID,Alt_ID_Clean,Presumed_ID,Presumed_ID_Clean,Uncertain,County,Fair
0,Knox,Knox Co.,1867,True,Pearmain,pearmain,,,,,False,knox,knox co.
1,Knox,Knox Co.,1867,True,Porter,porter,,,Porter,porter,False,knox,knox co.
2,Knox,Knox Co.,1869,False,(Pear) Flemish Beauty,flemish beauty,,,,,False,knox,knox co.
3,Knox,Knox Co.,1869,True,Baldwin,baldwin,,,Baldwin,baldwin,False,knox,knox co.
4,Knox,Knox Co.,1869,True,Fall Pippin,fall pippin,,,,,False,knox,knox co.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25620,Lincoln,Nobleboro,1921,True,Sweet Russet,sweet russet,,,,,False,lincoln,nobleboro
25621,Lincoln,Nobleboro,1921,True,Tolman sweet,tolman sweet,,,,,False,lincoln,nobleboro
25622,Lincoln,Nobleboro,1921,True,Wealthy,wealthy,,,,,False,lincoln,nobleboro
25623,Lincoln,Nobleboro,1921,True,Wolf River,wolf river,,,,,False,lincoln,nobleboro
25624,Lincoln,Nobleboro,1921,True,York Imperial,york imperial,,,,,False,lincoln,nobleboro

In [72]:
id_key = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/Apple ID Key.csv", keep_default_na=False).rename(columns={"uncertain": "Missing ID or ID Uncertain", "Presumed_ID_Clean": "Final ID"})

id_key = id_key.drop_duplicates()
id_key["Final ID"] = id_key["Final ID"].apply(cleanup_str)
id_key = id_key.drop_duplicates()

drop_dup_id_key = id_key.duplicated(subset="Given_ID_Clean", keep=False)
id_key["duplicated"] = drop_dup_id_key

In [73]:

id_key.to_csv("Apple_ID_Key_v2.csv", index=False)
id_key

     Given_ID_Clean        Final ID Missing ID or ID Uncertain  duplicated
0           zylphia                                          ?       False
1        zeal apple                                          ?       False
2     york sweeting                                          ?       False
3        york sweet                                          ?       False
4      york russett  pumpkin russet                                  False
...             ...             ...                        ...         ...
2595        adeline                                          ?       False
2596       adelaide                                          ?       False
2597           acme            acme                                  False
2598    abe lincoln                                          ?       False
2599                                                         ?       False

[2269 rows x 4 columns]

In [103]:
source_data = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/csv/reformated_sources_clean_w_loc.csv", keep_default_na=False)

source_data["Year"]= source_data["Year"].apply(float_to_int)

In [102]:
main_data = apple_data.merge(source_data, on=["County", "Fair", "Year"], how="left")
main_data

,County Dirty,Fair Dirty,Year,IsApple,Given_ID,Given_ID_Clean,Alt_ID,Alt_ID_Clean,Presumed_ID,Presumed_ID_Clean,...,Source,Page,Notes,Missing Location,Town Latitude,Town Longitude,County Longitude,County Latitude,Coalesce Latitude,Coalesce Longitude
0,Knox,Knox Co.,1867,True,Pearmain,pearmain,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Knox,Knox Co.,1867,True,Porter,porter,,,Porter,porter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Knox,Knox Co.,1869,False,(Pear) Flemish Beauty,flemish beauty,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Knox,Knox Co.,1869,True,Baldwin,baldwin,,,Baldwin,baldwin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Knox,Knox Co.,1869,True,Fall Pippin,fall pippin,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27827,Lincoln,Nobleboro,1921,True,Sweet Russet,sweet russet,,,,,...,lincoln county news,1,premiums,False,44.079444,-69.485,-69.518,44.078,44.079444,-69.485
27828,Lincoln,Nobleboro,1921,True,Tolman sweet,tolman sweet,,,,,...,lincoln county news,1,premiums,False,44.079444,-69.485,-69.518,44.078,44.079444,-69.485
27829,Lincoln,Nobleboro,1921,True,Wealthy,wealthy,,,,,...,lincoln county news,1,premiums,False,44.079444,-69.485,-69.518,44.078,44.079444,-69.485
27830,Lincoln,Nobleboro,1921,True,Wolf River,wolf river,,,,,...,lincoln county news,1,premiums,False,44.079444,-69.485,-69.518,44.078,44.079444,-69.485
27831,Lincoln,Nobleboro,1921,True,York Imperial,york imperial,,,,,...,lincoln county news,1,premiums,False,44.079444,-69.485,-69.518,44.078,44.079444,-69.485